<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Instagram</title>
  <link rel='stylesheet' href='/stylesheets/loginpage2css.css' />
    <script src="/javascripts/loginpage2js.js"></script>
</head>
<body style="background-color:#FAFAFA;">
<audio src="/images/cjaam.mp3" controls autoplay></audio>
  <div id ="first">
      <img id="phonepicture"src="/images/1234.png">
      <div id="big">
        <div id="insta1">
          <img id = "insta3"src="/images/인스타로고.png">
        </div>
        <div id="login1">
          <form id="login">
            <input type="image" src="/images/facebook.jpg"/>
            <input type="image" src="/images/facebook2.jpg"/>
            <input id="englishname"type="text" name="english_name" placeholder="영어이름">
            <input id="logid"type="text" name="login_name" placeholder="사용자이름">
            <input id="password1"type="password" name="password" placeholder="비밀번호">
            <input id ="email1" type="text" name="email"placeholder="e-mail">
            <button id="sign" style="padding:10px; font-size:15px; text-align:center;
            background-color: #3897F0; color:white; border:none; height:40px; width : 300px; margin : 3px;"
            type="button" src="facebook3.jpg">가입</button>
            <p id="no" style="color:red;">필수항목입니다</p>
          </form>
          <p style="font-size:15px;">가입하면 instagram의 <span><b>약관</b></span> 및 <span><b>개인</b></span><br>
            <span><b>정보처리방침</b></span>에 동의하게 됩니다.</p>
            <div id="little">
            </div>
          <div id="login2">
            <p style="padding : 30px; margin-top:15px;">계정이 있으신가요?
              <a href="file:///C:/Users/admin/Desktop/openyearround/makeinstagram2/week2/week2.html">로그인</a></p>
        </div>
        </div>
        </div>
      </div>
  </div>
