<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Instagram login</title>
    <link rel='stylesheet' href='/stylesheets/loginpage1css.css' />
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'></script>
    <script src='/javascripts/loginpage1js.js'> </script>
  </head>
  <body style="background-color:#fafafa;">
  <div id ="first">
      <img id="phonepicture"src="/images/1234.png"> </img>
      <div id="big">
        <div id="insta1">
          <img id = "insta3"src="/images/인스타로고.png"> </img>
        </div>
        <form id="login" method='post'>
          <input id="logid"type="text" name="login_name" placeholder="전화번호, 사용자 이름 또는 이메일" />
          <input id="idpassword"type="password" name="password" placeholder="비밀번호" /><br><!--onclick = "login_gogo"-->
          <button id="button_1" style="padding:10px; font-size:15px; text-align:center;
            background-color: #3897F0; color:white; border:none; height:40px; width : 300px; margin : 3px;" type="submit">로그인</button>
          </form>
            <div id="little">
              </div>
            <div id="login2">
              <p style="padding : 30px;">계정이 없으신가요?<a href="https://www.w3schools.com/html/">가입하기</a></p>
            </div>

        </div>
  </div>
  <p class="paragraph">
    INSTARAM정보 &nbsp 지원 &nbsp 블로그 &nbsp 관련기사 &nbsp API &nbsp 채용정보 &nbsp 개인정보처리방침 &nbsp 약관
  &nbsp 디렉터리 &nbsp 언어</p>
  </body>
</html>
