<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>instagram2</title>
    <link rel='stylesheet' href='/stylesheets/timelinecss.css' />
    <script src="/javascripts/timelinejs.js"></script>

  </head>
  <body style="background-color:#fafafa;">
    <div class="big">
      <div class="first">
        <div class="logo1">
          <img class="logo11"src="/images/logo1.png">
          <input class="search"type="text" name="search" placeholder="검색"></input>
          <img class="logo13"src="/images/logo3.jpg">
        </div>
      </div>
      <div class="mid">
      <div id="second">
        <div class="name">
          <div class="name2">
          <img class="name2" src="/images/name.jpg">
        </div>
        </div>
        <div class="picture">
          <img class="picture" src="/images/설리인스타.jpg">
        </div>
        <div class="picture2">
        <p class="p1" style="font-size:14px;">&nbsp gdragn님과 choi_ja 님이 좋아합니다.<br>&nbsp jelly_jilli 기분전환!<br><br><br></p>
        <p class="p2" style="font-size: 15px; color:#3897F0">&nbsp<b>#설리존예</b>  <b>#최자결별</b><br></p>
        <p class="p3" style="font-size:15px; color: black;">&nbsp#그래도설리이쁨  #수지가더이쁨</p>
        </div>
        <div class="last">
          <button class="heart">♡</button><input id = "only" type="text" placeholder="댓글달기..."></input>
          <button id ="myBtn" style="padding:3px; font-size:15px; text-align:center;
          background-color: #fafafa; color:black; border:none; height:20px; width : 50px; margin : 10px;" onclick="modalopen()" type="button">***</button>
      </div>
    </div>
  </div>
  </div>
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
        <button style="font-size:15px; text-align:center;
        background-color: #fafafa; color:black; border:none; height:70px; width : 600px;" type="button">부적절한 콘텐츠 신고</button>

        <button style="font-size:15px; text-align:center;
        background-color: #fafafa; color:black; border:1px solid gray; height:70px; width : 600px;" type="button">퍼가기</button>

        <button id ="myBtn3" style="font-size:15px; text-align:center;
        background-color: #fafafa; color:black; border:none; height:70px; width : 600px; " type="button">취소</button>
  </div>
 </div>

  </body>
</html>
